{% extends 'example.html' %}

{% block content %}

<center>

        <h1>Contact us</h1>
        <h3> Name : Md Zihad Hasan </h3>
        <h3> E-mail : zihad868@gmail.com </h3>
        <h3> Phone No : 01793150888 </h3>

        <br>

        <h3> Name : Israt Jahan Nira </h3>
        <h3> E-mail : nira@gmail.com </h3>
        <h3> Phone No : 01793.... </h3>

  <br>

        <h3> Name : Md Habib Nirob </h3>
        <h3> E-mail : nirob@gmail.com </h3>
        <h3> Phone No : 0179315... </h3>


</center>

{% endblock %}